@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-content-home);

}

.page {
    display: grid;
    grid-template-areas: 
    "main main main"
    "footer footer footer";
}

.page main {
    grid-column: 1/4;
}

.page footer {
    grid-column: 1/4;
}

:root {
    font-size: 62.5%;
    --background-content-home: #F9F4FB;                                                                            
    --background-content-cards: #343193;
    --color-text-title: #B52184;
    --color-text-paragraph: #312D64;
    --color-white: #fff;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
}

.home img:first-child {
    width: 36.4rem;
    height: 37rem;
}

.content {
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    align-items: center;
}

.content h1 {
    color: var(--color-text-title);
    font-family: Mulish;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 1.7rem;
}

.content p{
    color: var(--color-text-paragraph);
    text-align: center;
    font-family: Mulish;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.content img {
    padding-right: 14.6rem;
    padding-left: 14.6rem;
    padding-bottom: 9.3rem;
    padding-top: 3.5rem;
}

.content .text {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-content-cards); 
    padding: 5.29rem 3rem;
}


.card {
    display: flex;
    width: 33.5rem;
    padding: 2.6rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.3rem;
    align-self: stretch;
    background-color: var(--color-white);
    margin-bottom: 4.9rem;
    margin-top: 3rem;
    border-radius: 1.9rem;
    background: #FFF;
    box-shadow: 0rem 0.33rem 1.3rem 0rem rgba(0, 0, 0, 0.25);
}

.card h1 {
    color: var(--color-text-title);
    font-family: Mulish;
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.card p {
    color: var(--color-text-paragraph);
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.EntreEmContato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    gap: 2.4rem;
}

.EntreEmContato h2 {
    color: var(--color-text-title);
    font-family: Mulish;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding-top: 7.8rem;
    padding-left: 1rem;
    padding-right: 0rem;
}

.EntreEmContato img:last-child {
    display: none;
}

form input {
    display: flex;
    width: 31.8rem;
    padding: 1.2rem 1.6rem 1.2rem 5rem;
    align-items: center;
    gap: 1.2rem;
    border-radius: 1.6rem;
    border: 1.5px solid var(--color-text-paragraph);
    background-color: transparent;
    color: var(--color-text-paragraph);
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 16px */
    margin-top: 2.4rem;
}

form label {
    opacity: 0;
}

.input_with_icon_wrapper img {
    position: absolute;
    padding-top: 1rem;
    padding-left: 1.4rem;
}

.input_with_icon_wrapper input {
    position: relative;
}

form textarea {
    background-color: transparent;
    display: flex;
    width: 31.8rem;
    padding: 1.2rem 1.6rem 1.6rem 1.6rem;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 1.6rem;
    border: 1.5px solid var(--color-text-paragraph);
    color: var(--color-text-paragraph);
    font-family: Mulish;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    margin-top: 2.4rem;
    margin-bottom: 3.45rem;
    height: 98px;
}


::placeholder {
    color: var(--color-text-paragraph);
}

.input-wrapper img {
    position: absolute;
}

button {
    display: inline-flex;
    height: 4.5rem;
    padding: 1.6rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 1.6rem;
    background: var(--background-content-cards);
    color: var(--color-white);
    border: 0;
    text-align: center;
    font-family: Mulish;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 171.429% */

    margin-bottom: 7.55rem;
}

footer {
    background-color: var(--background-content-cards);
}

footer p {
    display: flex;
    width: 43.6rem;
    height: 7.8rem;
    padding: 1.6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 1.59rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-right: 5rem;
}


@media screen and (min-width: 550px) {
    .home {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 25rem;
    }
    
    .home img:first-child {
        width: 71.9rem;
        height: 73.2rem;
        margin-bottom: 18.3rem;
    }
    
    .content {
        display: flex;
        flex-direction: column; 
        gap: 1rem;
        align-items: center;
    }
    
    .content h1 {
        color: var(--color-text-title);
        font-family: Mulish;
        font-size: 6rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    
    .content p{
        color: var(--color-text-paragraph);
        text-align: center;
        font-family: Mulish;
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .content img {
        padding-right: 18.6rem;
        padding-left: 18.6rem;
        padding-bottom: 9.3rem;
        padding-top: 3.5rem;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    
    .content .text {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .content-cards {
        display: flex;
        flex-direction: row;
        gap: 6rem;
    }
    
    
    .card {
        display: flex;
        width: 35rem;
        padding: 2.6rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 3.3rem;
        align-self: stretch;
        background-color: var(--color-white);
        margin-bottom: 4.9rem;
        border-radius: 1.9rem;
        background: #FFF;
        box-shadow: 0rem 0.33rem 1.3rem 0rem rgba(0, 0, 0, 0.25);
    }
    
    .card h1 {
        color: var(--color-text-title);
        font-family: Mulish;
        font-size: 2.9rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    
    .card p {
        color: var(--color-text-paragraph);
        font-family: Mulish;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .EntreEmContato {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        margin-left: 20.9rem;
    }
    
    .EntreEmContato h2 {
        color: var(--color-text-title);
        font-family: Mulish;
        font-size: 4.2rem;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        padding-top: 7.8rem;
        padding-left: 0rem;
        padding-right: 22rem;
    }

    .EntreEmContato img:last-child {
        display: block;
    }
    
    form input {
        display: flex;
        width: 59.2rem;
        padding: 1.2rem 1.6rem 1.2rem 5rem;
        align-items: center;
        gap: 1.2rem;
        border-radius: 1.6rem;
        border: 1.5px solid var(--color-text-paragraph);
        background-color: transparent;
        color: var(--color-text-paragraph);
        font-family: Mulish;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 16px */
        margin-top: 2.4rem;
    }
    
 
    
    form textarea {
        background-color: transparent;
        display: flex;
        width: 59.2rem;
        padding: 1.2rem 1.6rem 1.6rem 1.6rem;
        align-items: flex-start;
        gap: 1rem;
        border-radius: 1.6rem;
        border: 1.5px solid var(--color-text-paragraph);
        color: var(--color-text-paragraph);
        font-family: Mulish;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 22.4px */
        margin-top: 2.4rem;
        margin-bottom: 3.45rem;
        height: 98px;
    }
    
    
    .input-wrapper img {
        position: absolute;
    }
    
    
    footer {
        background-color: var(--background-content-cards);
        display: flex;
        justify-content: center;
    }
        
}

.home img, .content h1, p, .card,  img,  h1, p, .content_entre_em_contato{
    animation: move var(--delay);
}


@keyframes move {
    0% {
        transform: translateX(-50px);
    }
}

.content img {
    animation: moveY 1s 1.5s alternate;
}

@keyframes moveY {
    50% {
        transform: translateY(30px);
    }
}